
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
}

/* utils */
.container{
    width: 95%;
    margin: auto;
}

/* header */
header{
    background: url(/Assets/bg-hero-mobile.svg) no-repeat hsl(193, 100%, 96%);
    background-size: contain;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
nav img{
    width: 30%;
}

nav button {
    background-color: beige;
    border-radius: 1rem;
    width: 30;
    border: none;
    box-shadow: -1px 2px 10px 2px grey;
    padding: 5px;
    /* font-weight: bolder; */
    font-family:"Poppins", sans-serif;
    font-weight: 600;
}

/* hero-section */
.hero-section{
    /* border: 2px solid black; */
    margin-top: 3rem;
    text-align: center;
}

.hero-content h2{
    width: 90%;
    margin: auto;
    line-height: 2rem;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
}

.hero-content p{
    width: 95%;
    margin: auto;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
    
    
}

.hero-content button{
    margin: 2rem 0 3rem 0;
    height: 2.5rem;
    border-radius: 5rem;
    width: 60%;
    border: none;
    color: bisque;
    background-color: hsl(322, 100%, 66%);
    font-family:"Poppins", sans-serif;
    font-weight: 600;
}

.hero-section img{
    width: 80%;
}

/* main, for the cards */
.main{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    height: 104rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cards{
text-align: center;
/* border: 1px solid black; */
padding: 3rem;
box-shadow: -1px 1px 5px rgb(226, 225, 225);
border-radius: 10px;
}

.cards img{
    width: 100%;
}

.cards h2{
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    margin: 1rem 0;
}

.cards p{
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    color: hsl(208, 11%, 55%);
    line-height: 1.7rem;
    font-size: 1rem;
}
    